@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

* {
	font-family: "Montserrat";
	background: #181719;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: rgba(255, 255, 255, 1);
	font-size: 16px;
}

a {
	text-decoration: none;
}

/* NAVBAR */

.active {
	border-bottom: 2px solid white;
}

.navbar {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 10vh;
	position: absolute;
	top: 0;
	width: 100%;
}

.left-side a {
	border: 1px solid white;
	padding: 5px 5px;
}

.right-side a {
	margin-right: 50px;
}

/* FIN NAVBAR - DEBUT SECTION-1 */

.section-1 {
	display: flex;
	height: 100vh;
	align-items: center;
	justify-content: center;
}

.sec-left-side {
	width: 25vw;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 300px;
}

.sec-left-side h1 {
	font-size: 3rem;
}

.sec-left-side p {
	letter-spacing: 4px;
}

.sec-right-side {
	position: relative;
}

.card {
	padding: 25px 25px;
	width: 400px;
	height: 180px;
	position: absolute;
	bottom: -90px;
	right: 40px;
	display: flex;
	align-items: center;
	flex-direction: column;
	
	-webkit-box-shadow: 8px 7px 15px -5px rgba(0,0,0,0.91); 
	box-shadow: 8px 7px 15px -5px rgba(0,0,0,0.91);
}

.card-header {
	display: flex;
}

.card-header-left-side img {
	margin: 0 20px;
	width: 80px;
    height: 80px;
	object-fit: cover;
	border-radius: 50%;
}

.card-header-right-side p {
	font-weight: 800;
	margin-bottom: 5px;
}

.description {
	color: #828282;
	font-size: 12px;
	font-weight: 100;
	font-style: normal;
}

.card-body {
	display: flex;
	align-items: center;
	justify-content: center;
}

.card-body h2 {
	text-align: center;
	font-size: 20px;
	font-weight: 400;
	letter-spacing: 2px;
}

/* FIN SECTION-1 - DEBUT FOOTER */

.footer {
	position: absolute;
	bottom: 0;
	text-align: center;
	width: 100%;
}